{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}

{% block content %}
    <p class="text-center" id="heading">Обо мне</p>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <h2>Основная информация:</h2>
                <ul class="list-group list-group-light">
                    {% for i in base_information %}
                        <li class="list-group-item border-0">{{ i }}</li>
                    {% endfor %}
                    <li class="list-group-item border-0">
                        <a class="link-primary" target="_blank" href="https://github.com/Sergey207">Гитхаб</a>
                    </li>
                </ul>
                <h2>Мои большие проекты:</h2>
                <ul class="list-group list-group-light">
                    {% for i in big_projects %}
                        <li class="list-group-item border-0">{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <img class="rounded" src="{% static "img/My Photo.jpg" %}" width="250px"/>
                <br><br>
                <h2>Основные увлечения</h2>
                <ul class="list-group list-group-light">
                    {% for i in main_hobbies %}
                        <li class="list-group-item border-0">{{ i }}</li>
                    {% endfor %}
                </ul>
                <h2>Опыт разработки:</h2>
                <ul class="list-group list-group-light">
                    {% for i in code_experience %}
                        <li class="list-group-item border-0">{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}